{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title "Trading" %}
{% block pageClass "trading-page" %}

{% block content %}
    <div class="trading-terminal">
        <div class="grid">
            <div class="col graph-container">
                <svg width="960" height="500">
                    <defs>
                        <linearGradient id="linear-gradient" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0%" stop-color="#3594e6"/>
                            <stop offset="100%" stop-color="#171e2e"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="col exchanges-container">
                <div class="exchanges-table-with-filters-container">
                    <div class="exchange-filter grid">
                        <a href="javascript:" class="button">Короткие</a>
                        <a href="javascript:" class="button active">Длинные</a>
                    </div>
                    <div class="exchange-filter grid">
                        <a href="javascript:" class="button button-small">30 сек</a>
                        <a href="javascript:" class="button button-small">60 сек</a>
                        <a href="javascript:" class="button button-small active">2 мин</a>
                        <a href="javascript:" class="button button-small">5 мин</a>
                        <a href="javascript:" class="button button-small">10 мин</a>
                    </div>
                    <div class="exchanges-table-wrapper">
                        <table class="table exchanges-table">
                            <thead>
                            <tr>
                                <th width="110">Актив</th>
                                <th width="60">Цена</th>
                                <th>Тип</th>
                                <th>Время</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(1, 10) %}
                            <tr class="trading-asset" data-asset="pid-{{ i }}">
                                <td>AUD/CAD (78%) {{ i }}</td>
                                <td data-asset-value="pid-{{ i }}">-</td>
                                <td>2 мин</td>
                                <td {% if i % 2 == 0 %} class="time-ends" {% endif %}>1:30</td>
                            </tr>
                            {% endfor %}
                            <tr class="trading-asset" data-asset="pid-41">
                                <td>AUD/CAD (78%) 41</td>
                                <td data-asset-value="pid-41"></td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="place-a-bet">
                    <div class="grid">
                        <a href="javascript:" class="sell">Sell</a>
                        <a href="javascript:" class="buy">Buy</a>
                        <div class="current-price"></div>
                    </div>
                    <form method="post" class="grid place-a-bet-form">
                        <input type="number" name="amount" class="input-field" />
                        <input type="submit" value="Торговать" class="submit-button" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="trading-additional-information">
        <div class="tabs grid">
            <a href="javascript:">Открытые позиции</a>
            <a href="javascript:">История</a>
            <a href="javascript:">Операции</a>
            <a href="javascript:">Депозит</a>
            <a href="javascript:">Вывод</a>
            <a href="javascript:" class="active">Мой счёт</a>
        </div>
        <div class="tabs-content">
            <!-- empty -->
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}
