{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title "Trading" %}
{% block pageClass "trading-page" %}

{% block content %}
    <div class="trading-terminal">
        <div class="grid">
            <div class="col graph-container">
                Graph
            </div>
            <div class="col exchanges-container">
                <div class="exchanges-table-with-filters-container">
                    <div class="exchange-filter grid">
                        <a href="javascript:" class="button">Короткие</a>
                        <a href="javascript:" class="button active">Длинные</a>
                    </div>
                    <div class="exchange-filter grid">
                        <a href="javascript:" class="button button-small">30 сек</a>
                        <a href="javascript:" class="button button-small">60 сек</a>
                        <a href="javascript:" class="button button-small active">2 мин</a>
                        <a href="javascript:" class="button button-small">5 мин</a>
                        <a href="javascript:" class="button button-small">10 мин</a>
                    </div>
                    <div class="exchanges-table-wrapper">
                        <table class="table exchanges-table">
                            <thead>
                            <tr>
                                <th>Актив</th>
                                <th>Цена</th>
                                <th>Тип</th>
                                <th>Время</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td class="time-ends">1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            <tr>
                                <td>AUD/CAD (78%)</td>
                                <td>0.12346</td>
                                <td>2 мин</td>
                                <td>1:30</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="place-a-bet">
                    <div class="grid">
                        <a href="javascript:" class="sell">Sell</a>
                        <a href="javascript:" class="buy">Buy</a>
                        <div class="current-price">0.12345</div>
                    </div>
                    <form method="post" class="grid place-a-bet-form">
                        <input type="number" name="amount" class="input-field" />
                        <input type="submit" value="Торговать" class="submit-button" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="trading-additional-information">
        <div class="tabs grid">
            <a href="javascript:">Открытые позиции</a>
            <a href="javascript:">История</a>
            <a href="javascript:">Операции</a>
            <a href="javascript:">Депозит</a>
            <a href="javascript:">Вывод</a>
            <a href="javascript:" class="active">Мой счёт</a>
        </div>
        <div class="tabs-content">
            <!-- empty -->
        </div>
    </div>
{% endblock %}
