{% extends '@BinaryTrade/Layout/application.html.twig' %}

{% block title "Оформление заявки на вывод средств - " ~ parent() %}

{% block content %}
    <h1>Заявка успешно отправлена</h1>
{% endblock %}