{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title "Авторизация - " ~ parent() %}

{% block content %}

    <div style="text-align: center; margin-bottom: 16px;">
        {{ errors.message ?? "" }}
    </div>

    <form action="{{ path('login') }}" method="post" class="form form-compact">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" name="_username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="_password" id="password" />
        </div>
        <div class="form-group content-center">
            <input type="submit" value="Войти" />
        </div>
    </form>

{% endblock %}
