{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title "Регистрация - " ~ parent() %}

{% block pageClass "registration-page" %}

{% block content %}
    <div class="content-page-header">Регистрация</div>
    <div class="registration-content">
        <div style="text-align: center">Во время выполнения запроса произошла ошибка</div>
    </div>
{% endblock %}
