{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title "Восстановление пароля - " ~ parent() %}

{% block content %}

    <form action="{{ path('restore_password_post') }}" method="post" class="form form-compact">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username">
        </div>
        {% if errors is defined and errors != null %}
            <div style="text-align: center; margin-bottom: 16px;">
                Пользователь не найден
                {#{{ errors.message ?? "" }}#}
            </div>
        {% endif %}
        <div class="form-group content-center">
            <input type="submit" value="Отправить на почту" />
        </div>
    </form>

{% endblock %}
