@import "variables";
@import "mixins";

form.form {
  padding: $app-base-padding;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .17);
  background-color: white;
  border-radius: 3px;
  max-width: $app-form-max-width;

  @include box-sizing();

  .form-group {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: $app-base-padding;

    @include box-sizing();

    &:last-of-type {
      margin-bottom: 0;
    }

    &[data-label-position="top"] {
      align-items: flex-start;

      .input-wrapper {
        .input-container {
          &[data-required] {
            &::after {
              display: none;
            }
          }
        }
      }
    }

    &.no-top-offset {
      .input-wrapper {
        .buttons-list {
          margin-top: 0;
        }
      }
    }

    &.no-label {
      & > .label {
        display: none;
      }

      .input-wrapper {
        margin-left: $app-form-label-width;
      }
    }

    .label {
      display: block;
      width: $app-form-label-width;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: right;
      padding-right: $app-base-padding;

      @include box-sizing();
    }

    .input-wrapper {
      width: 100%;

      .buttons-list {
        margin-top: $app-base-padding;
      }

      .input-container {
        width: 100%;

        &[data-required] {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            display: block;
            width:  4px;
            height: 4px;
            border-radius: 10px;
            background-color: $app-blue-color;
            box-shadow: 0 0 0 4px lighten($app-blue-color, 32%);

            top: 50%;
            margin-top: -2px;
            right: $app-base-padding * 0.75;
          }
        }

        & .form-group {
          & > .label {
            width: 150px;
            text-align: left;
          }
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        select {
          background-color: white;
          display: block;
          padding: $app-base-padding * 0.75;
          // 4px - required indicator width
          padding-right: $app-base-padding * 0.75 * 2 + 4px;
          border-radius: 3px;
          outline: none;
          width: 100%;
          border: 1px solid $app-form-border-gray-color;
          transition: 0.1s border;

          @include box-sizing();

          &:focus {
            border-color: $app-blue-color;
          }
        }

        /* CHOICE */
        .choice-expanded {
          .choice-widget {
            display: flex;
            align-items: center;
            margin-bottom: $app-base-padding / 2;

            &:last-of-type {
              margin-bottom: 0;
            }

            label, .checkbox-container {
              cursor: pointer;
            }
          }
        }
        /* END CHOICE */

        /* CHECKBOXES */
        .checkbox-container {
          input[type="checkbox"] {
            display: none;

            &:checked + .checkbox-placeholder {
              &::after {
                content: 'check';
                font-family: 'Material Icons', sans-serif;
                color: $app-blue-color;
                font-size: 18px;
                display: block;
                width:  12px;
                height: 12px;
                position: absolute;
                top:  0px;
                left: 0px;
                //background-color: $app-blue-color;
                font-weight:bold;
              }
            }
          }

          .checkbox-placeholder {
            width:  22px;
            height: 22px;
            display: block;
            margin-right: $app-base-padding / 2;

            //border-radius: 3px;
            border: 2px solid $app-blue-color;
            position: relative;

            @include box-sizing();
          }
        }
        /* END CHECKBOXES */
      }
    }
  }
}
