@import "variables";
@import "mixins";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.app-page-wrapper {
  height: 100vh;
}

a {
  color: $app-blue-color;

  &:hover {
    color: $app-blue-darken-color;
  }
}

.offset-bottom {
  margin-bottom: $app-base-padding;
}

.offset-top {
  margin-top: $app-base-padding;
}

.offset-left{
  margin-left: $app-base-padding;
}

.small-offset-top {
  margin-top: $app-base-padding / 2;
}
