@import "variables";
@import "mixins";

.table {
  width: 100%;
  background-color: $app-white-color;

  &.table-response-on-hover {

    overflow: hidden;

    tbody tr {
      transition: 0.1s box-shadow;

      &:hover {
        //box-shadow: 0 0 16px rgba(0, 0, 0, .15);

        background-color: rgba(0, 0, 0, .025);
      }

      td {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
    }
  }

  thead tr th {
    text-align: left;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .015);
    color: rgba(0, 0, 0, .7);
  }
  
  thead tr th, tbody tr td, tfoot tr td {
    padding: $app-base-padding;
    vertical-align: middle;

    @include box-sizing();

    &.labels-list, &.contains-button {
      padding: 0;
    }

    &.contains-button {
      padding-right: $app-base-padding;
    }
    
    &.pull-right {
      text-align: right;
    }

    &.no-paddings {
      padding: 0;
    }
  }

  tbody tr td {
    border-bottom: 1px solid rgba(0, 0, 0, .03);

    &.links-list {
      display: flex;
      flex-direction: row-reverse;

      & > a {
        margin-right: $app-base-padding / 4 * 3;

        &:first-of-type {
          margin-right: 0;
        }
      }
    }
  }

  tbody tr {
    &.highlight-row-as-error {
      td {
        background-color: rgba(255, 113, 97, 0.56);
        //color: white;
      }
    }
  }

  tbody tr:last-of-type td {
    border-bottom: none;
  }

}
