<h1>Здравствуйте, {{ name }}</h1>
<br/>
<h1>Перейдите по ссылке для востановления пароля:</h1>
<br/>
<a href="{{ url('reset_link', {token: reset_password_token}) }}">{{ url('reset_link', {token: reset_password_token}) }}</a><