$app-blue-color: #44A4FF;
$app-blue-darken-color: darken($app-blue-color, 5%);
//$app-gray-color: rgba(0, 0, 0, .7);
$app-gray-color: rgba(0, 0, 0, .7);

$app-red-color: #e74c3c;
$app-red-darken-color: #c0392b;

$app-white-color: white;
$app-black-color: rgba(0, 0, 0, .7);

$app-green-color: #27ae60;
$app-orange-color: #f39c12;
$app-pomegranate-color: #c0392b;
