@import "variables";

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: $app-base-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  width: $app-container-width;
  min-width: $app-container-width;
  margin: 0 auto;
}

.text-blue {
  color: $app-blue-text-color;
}

a {
  color: $app-base-text-color;

  &:hover {
    color: $app-blue-text-color;
  }
}

.clear {
  clear: both;
}
