@import "variables";
@import "mixins";

.page-content {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #171e2e;
  //min-height: calc(100vh - 83px);
  position: relative;
  z-index: 99;
  box-shadow: 0 0 $app-base-padding rgba(0, 0, 0, .4);

  @include box-sizing();

  .page-content-container {
    width: 100%;
    padding: 0 20px;

    @include box-sizing();

    .content-block {
      box-shadow: 0 3px 24px rgba(0, 0, 0, .3);
      background-color: #1e2537;

      @include box-sizing();
    }
  }
  
  .content-page-header {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  }
}
