@import "../../scss/variables";

$app-container-width: 1366px;
$app-base-text-color: #7d8d9a;
$app-blue-text-color: #3594e6;

$app-dark-color: #171e2e;

$app-content-background-color: #1e2537;

$app-wallet-background: #242c3e;
