<table class="ui-table">
    <thead>
    <tr>
        <th width="175">Тип</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
    <tr>
        <td>{% spaceless %}
                {{ ('app.balance_history.type.' ~ record.type) | trans }}
        {% endspaceless %}</td>
        <td>{{ record.amount }} $</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include '@Api/Trades/pagination.html.twig' with { pagination: records, path: 'api.trades.operations.page' } only %}
