<table class="ui-table">
    <thead>
    <tr>
        <th width="75">id</th>
        <th>test</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>test</td>
    </tr>
    </tbody>
</table>

<div class="pagination">
    <a href="/api/trades/positions/10" class="next-link">Next</a>
    <a href="/api/trades/positions/9" class="next-link">Previous</a>
</div>