{% extends '@BinaryTrade/Layout/application.html.twig' %}

{% block content %}
    <h1 style="font-size: 24px; text-align: center;">Ваше сообщение успешно отправлено</h1>
{% endblock %}

{% block title %}Обратная связь{% endblock %}

